@import url("https://font.googleapis.com/css:family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(#2b1055, #7597de);
    min-height: 100vh;
}

header{
    position:absolute;
    width: 100%;
    padding: 30px 100px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
}